@import './../../styles/main.scss';

#BookHome {

  .top-banner {
    margin-top: 76px;
    padding: 0 50px 23px 50px;
    height: -moz-fit-content;
    height: fit-content;
    background-color: var(--whiteSmokeColour);
    display: flex;
    align-items: flex-end;
    min-height: 100px;
  }

  .banner-subtitle {
    margin-bottom: 5px;
    margin-left: 50px;
  }

  .search {
    padding: 5px 40px 50px;
  }
  
  .booking-sidebar {
    width: 264px;
    height: calc(100vh - 76px);
    top: 76px;
    position: sticky;
    position: -webkit-sticky;
    background-color: whitesmoke;
    border-right: 1px var(--lightGreyTextColour) solid;
  }

  .booking-info {
    width: calc(100vw - 96px - 263px);
    max-width: 700px;
    background-color: whitesmoke;
    padding-top: 2rem;
  }

  .main-body {
    display: flex;
    justify-content: center;
    // background: center url(/static/media/LandingPageBackground.1e90200e.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .search-dates {
    flex-direction: column;
  }
  
  .guest-numbers {
    flex-direction: column;
  }
  
  .is-full {
    width: 208px;
  }
  
  .search-header {
    display: none;
  }

  #Carousel {
    margin: 0 auto;
    padding: 0;
    max-width: 600px;
    position: relative;

    .prev {
      left: 0px;
      @media (max-width: 1023px) {
        left: -25px;
      }
    }

    .next {
      right: 0px;
      @media (max-width: 1023px) {
        right: -25px;
      }
    }
  }

  .carousel-button {
    top: calc(50% - 25px);
  }
  
  .alice-image {
    padding: 20px;
  }
  
  .homecard-container:hover {
    .homecard-text-container {
      margin: 10px 20px 0px 20px;
      border-radius: 0 0 10px 10px;
    }
  }
  
  .homecard-text-container {
    margin: 10px 20px 0px 20px;
    border-radius: 0 0 10px 10px;
  }

  .check-in, .adults {
    margin-bottom: 0;
  }

  .book-home-submit {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .total-price {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pay-button {
    padding: 0.7rem 2rem;
    width: 100%;
    margin: 1rem 0;
    color: white;
    font-weight: bold;
    font-size: medium;
    background-color: #556cd6;
    border: 0;
  }

  .modal {
    position: absolute;
    // height: 500px;
    // width: 500px;
    // top: 50%;
    // left: 50%;
    // right: 50%;
    // bottom: 50%;
    background-color: var(--whiteSmokeColour);
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rebeccapurple;
  }

  p, p * {
    font-size: 18px;
  }

  a {
    color: var(--greyTextColour)
  }

  hr {
    background-color: var(--lightGreyTextColour);
    height: 1px;
  }

  .book-home-button, .book-home-submit {
    font-size: 19px;
  }

  .error-message {
    padding: 0.5rem 0.5rem 0.25rem 0.75rem;
    font-size: 16px;
    display: flex;
    align-items: center;

    span {
      margin-right: 18px;
      svg {
        height: 1.3em;
        width: 1.3em;
        position: relative;
        bottom: 3px;
        margin-left: 0.3em;
      }
    }
  }
}