@charset "utf-8";

// Import Bulma core
@import "~bulma/bulma";

// Import component
@import "~bulma-carousel/src/sass/index";

// Import Bulma core
// @import 'bulma.sass';

// Import component
// @import "bulmaCarousel.sass";

* {
  // margin: 0;
  // padding: 0;
  font-size: 20px;
  box-sizing: border-box;
  font-family: 'Khula', sans-serif;
}

@import './components/home';
@import './components/navbar';