#AllSitesPage {

.top-banner {
  margin-top: 76px;
  height: fit-content;
  padding: 8px 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-section {
  min-height: 100vw;
}

}