@import './../../styles/main.scss';

#NavBar {
  
  .logo {
    background-image: url('../../assets/Logos/QeF.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 180px;
    height: 60px;
  }

  .anchor-button {
    text-size-adjust: 100%;
    line-height: 1.5;
    font-size: 20px;
    text-decoration: none;
    display: block;
    position: relative;
    width: 3.25rem;
    margin-left: auto;
    background-color: rgba(0, 0, 0, 0.05);
    color: white;
    height: 72px;

    @media (min-width: 1024px) {
      display: none;
    }
  }

  .fa-user-circle {
    width: 30px;
    height: 30px;
  }

  .user-menu {
    display: flex;
    flex-direction: column;
    width: 145px;
    height: fit-content;
    background-color: #0a0a0a;
    position: absolute;
    top: 76px;
    right: 0px;
    border-radius: 15px;
    margin: 10px 10px 0 0;
    padding: 10px 0 0px 15px;

    & > a, p {
      padding-bottom: 8px;
      color: var(--whiteSmokeColour);
    }

    p:hover {
      cursor: pointer;
    }
  }

  .mobile-unauthenticated {
    display: flex;
    flex-direction: column;
  }

  .dropdown-arrow:after {
    margin-top: -0.5em;
  }

  #navbar-dropdown {
    background-color: #0a0a0a;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
    border-radius: 0 0 10px 10px;
    width: 161px;
    border-top: 1px solid #0a0a0a;

    a {
      border-radius: 15px;
    }
  }

  .mobile-menu {
    background-color: #0a0a0a;
  }

  *:hover {
    background-color: #0a0a0a;
  }

  .mobile-dropdown dropdown-arrow:after {
    display: none;
  }

  .mobile-icon {
    width: 22px !important;
    height: 22px !important;
    margin-right: 10px !important;
  }

  p.profile-link {
    line-height: 26px;
    height: 20px;
  }

  .fa-sign-out-alt {
    bottom: 3px;
    position: relative;
  }

  p.mobile-logout:hover {
    cursor: pointer;
  }

  .navbar-end-mobile {
    display: inline;
    display: flex;
    flex-direction: column;
    justify-content: center;

    a {
      padding: 0.5rem 0.75rem;
      color: white;
    }

    a:hover {
      color: var(--whiteLinkHoverColour);
    }
  }
}