@import "./../../styles/main.scss";

#Carousel {

.prev {
  left: -25px;
}

.next {
  right: -25px;
}

.carousel-button {
  height: 50px;
  width: 50px;
  cursor: pointer;
  position: absolute;
  top: 48%;
  display: inline-block;
  @media (max-width: 768px) {
    display: none;
  }

  img {
    top: 0;
    @media (max-width: 992px) {
      top: calc(50% - 10px);
    }
  }
  img {
    top: 0;
    @media (max-width: 992px) {
      top: calc(50% - 10px);
    }
  }
}

.carousel-button {
  transition: 0.5s;
  opacity: 0.5;
}

.carousel-button:hover {
  opacity: 1;
}

.curved-corners {
  border-radius: 10px;
}

.homecard-container {
  height: 300px;
  width: fit-content;
  z-index: 2;
  margin: 0 auto;
  @media (max-width: 768px) {
    height: 70vw;
  }
}

.alice-image {
  height: 280px;
  padding: 15px;
  border-radius: 30px;
  object-fit: cover;
  @media (max-width: 840px) {
    padding: 20px;
  }
  @media (max-width: 768px) {
    height: 70vw;
  }
}

.homecard-container:hover {
  .homecard-text-container {
    background-color: rgba(0, 0, 0, 0.575);
    transform: translateY(-140px);
    margin: 15px;
    height: 98px;
    @media (max-width: 840px) {
      margin: 10px 20px 0px 20px;
      border-radius: 0 0 10px 10px;
    }
  }
}

.homecard-text-container {
  background-color: rgba(0, 0, 0, 0.24);
  transform: translateY(-140px);
  margin: 15px;
  height: 98px;
  transition: 0.5s;
  border-radius: 0 0 15px 15px;
  @media (max-width: 840px) {
    margin: 10px 20px 0px 20px;
    border-radius: 0 0 10px 10px;
  }
}

}