@import './../../styles/main.scss';

nav.navbar {
  background-color: (hsl(0, 3%, 12%));
  a.navbar-item, p, div.contact-links {
    color: white;
  }
  a.navbar-item {
    text-transform: uppercase;
  }
}

nav.main {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: flex-end;
}

nav.main.scroll {
  align-items: center;
}

.logo {
  background-image: url('../../assets/Logos/QeF.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 260px;
  height: 82px;
  margin: 4px 0;
}

.logo.small {
  height: 46px;
  margin: 2px 0;
}

.navbar-brand, .navbar-end {
  display: flex;
  align-items: flex-end;
}

.contacts-nav {
  z-index: 31;
  transform: translateX(300px);
  position: absolute;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  p {
    font-size: 16px;
  }
}

.contacts-nav > .container > .navbar-menu > .navbar-brand {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: flex-end;
  a {
    color: white;
    text-decoration: none;
    margin-right: 6px;
  }
}

.contact-links {
  display: flex;
  align-items: center;
  margin-right: 6px;
  i, p {
    margin: 0 10px;
    font-size: 16px;
  }
  svg {
    font-size: 16px;
  }
}

#closed {
  visibility: none;
}