@import './../../styles/main.scss';

#SearchPage {

  .top-banner {
    margin-top: 76px;
    padding: 0 50px 23px 50px;
    height: -moz-fit-content;
    height: fit-content;
    background-color: var(--whiteSmokeColour);
    display: flex;
    align-items: flex-end;
    min-height: 100px;
  }

  .banner-subtitle {
    margin-bottom: 6px;
    margin-left: 50px;
  }

  .search {
    padding: 5px 40px 50px;
  }

  .search-sidebar {
    width: 265px;
    height: calc(100vh - 76px);
    top: 76px;
    position: sticky;
    position: -webkit-sticky;
    background-color: whitesmoke;
    border-right: 1px var(--lightGreyTextColour) solid;
  }

  .search-results {
    width: 70vw;
    max-width: 700px;
    background-color: whitesmoke;
  }

  .main-body {
    display: flex;
    justify-content: center;
    background: center url(/static/media/LandingPageBackground.1e90200e.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .search-dates {
    flex-direction: column;
  }

  .guest-numbers {
    flex-direction: column;
  }

  .is-full {
    width: 208px;
  }

  .search-header {
    display: none;
  }

  .site-picker {
    width: 184px;
    justify-content: space-between;
  }

  .check-in, .adults {
    margin-bottom: 0;
  }

  #SearchCard.container {
    width: 100%;
    height: 200px;
    border-bottom: var(--lightGreyTextColour) 1px solid;
    display: flex;
    padding: 20px;

    .image-container {
      height: 100%;
    }

    img {
      height: 100%;
      object-fit: contain;
      border-radius: 10px;
    }
  }

  #SearchCard.container:hover {
    border: var(--lightGreyTextColour) 2px solid;
  }

}