@import 'base/colours';
@import 'base/fonts';

.homepage-top-outer-container {
  // background: center url('../../assets/L’Oceano\ d’Or/Pool-complex.jpg');
  background: center url('../../assets/slide.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
  margin-top: 92px;
  width: 100vw;
  position: relative;
}

// .color-overlay {
//   height: 100%;
//   width: 100%;
//   background-color: $dark-grey-colour;
//   opacity: 0;
//   position: absolute;
// }

.homepage-top-inner-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.homepage-search {
  height: 500px;
  width: 400px;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 20px
}

.homepage-reviews {
  padding-top: 15px;
  border-radius: 10px;
}

.no-margin-bottom {
  margin-bottom: -40px;
}

.quotations {
  background-image: url('../../assets/Logos/Quotations.png');
  background-size: contain;
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
}

.curved-corners {
  border-radius: 10px;
}

.item-1 {
  background-image: url('../../assets/slide.jpg');
  background-size: contain;
  height: 200px;
  width: 200px;
}

.homepage-carousel {
  height: 300px;
  min-height: 300px;
}

div.alice-carousel__next-btn, div.alice-carousel__prev-btn {
  position: relative;
  top: -150px;
  display: inline-block;
  // z-index: -1;
  width: fit-content;
}

div.alice-carousel__next-btn {
  text-align: right;
  left: calc(84vw);
}

div.alice-carousel__prev-btn {
  text-align: left;
  right: 45px;
}

.homecard-container {
  height: 300px;
  z-index: 2;
}

.homepage-alice-image {
  height: 280px;
  padding: 15px;
}

.homecard-container:hover {
  .homecard-text-container {
    background-color: rgba(0, 0, 0, 0.575);
    transform: translateY(-140px);
    margin: 15px;
    height: 98px;
  }
}

.homecard-text-container {
  background-color: rgba(0, 0, 0, 0.24);
  transform: translateY(-140px);
  margin: 15px;
  height: 98px;
  .homecard-text-container {
    background-color: rgba(0, 0, 0, 0.575);
    transform: translateY(-140px);
    margin: 15px;
    height: 98px;
  }
}