@import 'base/colours';
@import 'base/fonts';

.logo {
  background-image: url('../../assets/Logos/QeF.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 260px;
  height: 82px;
  margin: 4px 0;
}

.logo.small {
  height: 46px;
  margin: 2px 0;
}

.navbar-brand, .navbar-end {
  display: flex;
  align-items: flex-end;
}

.navbar.is-dark .navbar-brand > a.navbar-item:hover {
  background-color: hsl(0, 0%, 21%);
}

.navbar.is-dark .navbar-end > a.navbar-item:hover {
  background-color: hsl(0, 0%, 21%);
}

.contacts-nav {
  z-index: 31;
  transform: translateX(300px);
  position: absolute;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.contacts-nav > .container > .navbar-menu > .navbar-brand > a {
  color: white;
  text-decoration: none;
  margin-right: 40px;
}

.contact-links {
  display: flex;
  align-items: center;
  i, p {
    margin: 0 10px;
  }
}

#closed {
  visibility: none;
}