@import 'base/colours';
@import 'base/fonts';

.site-outer-container {
  margin-top: 106px;
}

.site-top-banner {
  height: 80px;
  padding: 8px 20px;
  border-top: $red-colour 4px solid;
  border-bottom: $red-colour 5px solid;
  display: flex;
}

.site-top-outer-container {
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 120px);
  margin-top: 12px;
  width: 100vw;
  position: relative;
}

.sitepage-search {
  height: 500px;
  width: 500px;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 30px
}

.L’Oceano {
  background: center url('../../assets/Panoramics/LOceano.jpg');
}

.Les {
  background: center url('../../assets/Panoramics/LesGenets.jpg');
}

.Calico {
  background: right bottom url('../../assets/Panoramics/CalicoPark.jpg');
}

.site-area {
  margin-top: 0.7rem;
}

.site-content {
  margin-top: 12px;
}

.site-top {
  padding: 30px 50px;
}

.site-carousel-container {
  text-align: center;
}

.site-carousel {
  height: 400px;
}

.site-carousel > .alice-carousel > div.alice-carousel__next-btn, .site-carousel > .alice-carousel > div.alice-carousel__prev-btn {
  position: relative;
  top: -240px;
  display: inline-block;
  width: fit-content;
}

div.alice-carousel__next-btn {
  text-align: right;
  left: 280px;
}

div.alice-carousel__prev-btn {
  text-align: left;
  right: 250px;
}

.site-alice-image {
  height: 400px;
}

#guests-input {
  width: 167px;
}

.site-navbar {
  position: absolute;
  z-index: 1;
  color: white;
  top: 65px;
  position: -webkit-sticky;
  position: sticky;
  background-color: hsl(0, 0%, 96%);
  opacity: 0.95;
  color: #4a4a4a;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  // border-bottom: solid red 1px;
  // margin-bottom: 30px;
}

a.site-navbar-anchor {
  margin: 0 3vw;
  padding-top: 5px;
  text-decoration: none;
  font-weight: 700;
  color: #4a4a4a;
}